# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- none

pool:
  vmImage: 'ubuntu-latest'
  demands:
  - npm

steps:
- script: |
    sudo npm install -g @angular/cli
    sudo npm install
    ng build --prod
  displayName: 'npm install and build'
